/*HOME PAGE*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    /* background-color: #e2ffed;; */
}

section {
    padding: 40px 20px;
    text-align: center;
}
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), 
              url(../images/hero-image.jpg);
    padding: 50px;
    color: #ffffff;
    font-size: 21px;
    background-size: cover;
}
.hero h1 {
    margin-top: 50px;
    font-size: 4rem;
    animation: fadeInUp 1s;
}


.heroBtn {
    padding: 1.3rem 5rem;
    border-radius: 100px;
    border: none;
    background: linear-gradient(to right, #2ecc71, #1abc9c);
    color: white;
    font-size: 20px;
    transition: all 0.5s ease;
    margin-top: 2rem;
}
.heroBtn:hover {
    box-shadow: 0 6px 20px rgba(0,0,0,0.3);
    transform: translateY(-5px);
}

#heroValuesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
.heroValues {
    padding-right: 70px;
}
.heroValues span {
    color: #F1C40F;
    font-weight: bold;
    font-size: 40px;
}

/* services section */
.services { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 3rem;
}

.home-box {
    border: none;
    border-radius: 30px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.3);
    height: 20rem;
    width: 20rem;
    padding: 50px 20px;
    transition: transform 0.3s ease;
}
.home-box:hover {
    transform: translateY(-10px);
}

/* home boxes icon design  */
.home-box i {
    color: #1bbb10;
    font-size: 3rem;
}
.home-box h2 {
    padding-top: 20px;
}
.home-box a {
    color: #1bbb10;
    text-decoration: none;
    font-weight: bold;
}


/* Why Choose Us  section*/
#section2{
    background-color: rgb(239, 250, 239);
    padding: 90px 20px;
}

#section2 h1 {
    font-size: 2rem;
    margin-bottom: 50px;
    font-weight: bold;
}   
.whyChooseUs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.whyChooseBox {
    box-shadow: 0 6px 20px rgba(0,0,0,0.3);
    border-radius: 30px;
    height: 12rem;
    width: 20rem;
    padding: 24px 20px;
    transition: transform 0.3s ease;
    background-color: white;
}
.whyChooseBox:hover {
    transform: translateY(-5px);
}
.whyChooseBox i {
    color: #1bbb10;
    font-size: 2rem;
    padding-bottom: 20px;
}





/* -------------services page------------- */

.serviceHeroContainer {
    padding-top: 100px;
    height: 300px;
    background:  url(../images/services-page-hero.jpg);
    background-size: cover;
}
.serviceHeroContainer h1 {
    color: rgb(253, 255, 254);
    font-size: 3rem;
    font-weight: bold;
    padding-left: 2rem;
    text-shadow: 0 6px 20px rgba(0,0,0,0.3);
}
#servicesHeading {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}
.servicesContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    margin-top: 1rem;
    padding: 50px 20px;
}
.serviceBox {
    box-shadow: 0 6px 20px rgba(0,0,0,0.3);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    padding: 40px 20px;
    transition: transform 0.3s ease;
}
.serviceBox h1 {
    font-size: 20px;
    color: #0c7505;
    font-weight:700;
}
.serviceBox:hover {
    transform: translateY(-5px);
}
.serviceBox i {
    color: #1bbb10;
    font-size: 3rem;
}  



/* ---------About page ------------- */


/* hero content  */
.aboutContainer{
    font-family:sans-serif;
    background: green;
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),
              url("../images/AboutHeroimg.jpg");
}
.aboutContainer h1{
    font-size: 60px;
    padding-top: 4rem;
    font-weight:900;
    color: white;
    animation: fadeInUp 1s ease;
}
.aboutContainer p{
    color: rgb(234, 233, 233);
    font-size: 25px;
    animation: fadeInUp 1s ease 0.3s forwards;
}


/* mission content */

.missionContaintent {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 100px;
}
.missionImg img{
    height: 20rem;
    border-radius: 30px;
    transition: transform 0.3s;
}
.missionImg img:hover {
    transform: scale(1.05);
}
.missionTxt{
    font-size: 19px;
    font-family:sans-serif;
    color: #1A1A1A;
}



/* values content */

.valuesContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    padding: 20px 40px;
}

.valueBox {
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E8F5E9;
    padding: 50px 20px;
    transition: transform 0.3s;
}

.valueBox:hover {
    transform: translateY(-5px);
}

.valueBox i {
    color: green;
    font-size: 30px;
    padding-bottom: 10px;
}
.valueBox h1 {
    font-size: 19px;
    font-weight: 800;
    padding-bottom: 5px;
}


/* leadership container design */


.team-section {
    background: var(--gray);
    padding: 5rem 0;
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin-top: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.team-member {
    background: var(--white);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.team-member:hover {
    transform: translateY(-10px);
}

.member-image {
    height: 300px;
    overflow: hidden;
}

.member-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.member-info {
    padding: 1.5rem;
    text-align: center;
}

.member-info h3 {
    color: var(--brand-green);
    margin-bottom: 0.5rem;
}



/* ------- Products page --------- */

.ProductsMain  {
    padding-top: 50px;
    background-color: #e4f9e2;
}

.productHero {
    height: 600px;
    background:  linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),url("../images/productsHeroimg.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.productHero h1 {
    color: rgb(253, 255, 254);
    font-size: 4rem;
    text-shadow: 0 6px 20px rgba(0,0,0,0.9);
    font-weight: bold;
    padding-left: 2rem;
    text-shadow: 0 6px 20px rgba(0,0,0,0.3);
}

.productsContainer {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
}

.product {
    display: flex;
    flex-direction: column;
    width: 350px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.3);
    border-radius: 30px;
    padding: 20px;
    background-color: white;
    transition: transform 0.3s ease;
}

.product:hover {
    transform: scale3d(1.05, 1.05, 1.05);
}


.product button {
    background-color: #1bbb10;
    color: white;
    border: none;
    padding: 10px 5px;
    border-radius: 5px;
    cursor: pointer;
}

.product img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.productDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productDetails div {
    background-color: #e7fadc;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px 0px;

}